.board_stat {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  &__ball {
    display: flex;
    align-items: flex-end;
  }
}