.card {
  $width: 80px;
  $height: 150px;
  &--front {
    display: flex;
    width: $width;
    height: $height;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 42px;
      border-radius: 9.3px 9.3px 0 0;
      &__score {
        display: flex;
        font-size: 20px;
        color: white;
        font-weight: 700;
        flex: 1;
        justify-content: flex-start;
        padding-left: 4px;
      }
      &__evolution {
        display: flex;
        flex-direction: column;
        &__result {
          display: flex;
          & > img {
            display: flex;
            width: 20px;
          }
        }
      }
      &__reward {
        flex:1;
        display: flex;
        justify-content: flex-end;
        padding-right: 4px;
      }
    }
    &__body {
      display: flex;
      justify-content: center;
      flex: 1;
      padding-top: 5px;
      height: 64px;
      align-items: center;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      & > img {
        width: 60px;
      }
    }
    &__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1;
      &__capture {
        display: flex;
        flex-direction: column;

        &__ball_wrapper {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 42px;
          justify-content: center;
          align-items: center;
        }
      }
      &__name {
        display: flex;
        font-size: 10px;
        text-align: center;
        flex:1;
        font-weight: 600;
        justify-content: flex-end;
        margin-right: 3px;
      }
    }
  }
  &--back {
    display: flex;
    flex-direction: column;
    width: $width;
    height: $height;
    border: 1px solid black;
    border-radius: 10px;
    color: #F9CB00;
    font-size: 14px;
    font-weight: 700;
    &__wrapper {
      display: flex;
      border: 5px solid white;
      flex-direction: column;
      flex: 1;
      border-radius: 9.2px;
      &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
      &__body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 10px;
        flex: 1;
      }
      &__footer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}